// Define variables for your color scheme

// For example:
$red: #ae2b3f;
$blue: #3066be;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #d8d8d8;
$light-gray: #f5f5f5;
$dark-gray: #484848;
