.booking {
  width: 100%;
  align-items: start;
  justify-content: space-between;
}

.booking-image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.booking-image {
  border-radius: 5px;
}

.booking-cards {
	background-color: white;
	border-radius: 0.5%;
	border-color: $gray;
	border-style: solid;
	border-width: 1px;
}

.booking-user {
	font-size: 14px;
}

.booking-infos-1 {
	margin: 75px;

}