.booking {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.booking-image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center center;
}

