.booking {
  width: 100%;
  align-items: start;
  justify-content: space-between;
}

.booking-image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.booking-image {
  border-radius: 5px;
}
