.show-container {
  width: 1170px;
}

.description h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
}

.description-content {
  width: 100%;
  text-align: justify;
  background-color: white;
  padding: 30px;
  font-size: 18px;

}

.map img {
  height: 400px;
  width: 100%;
}


