<div class="home-banner">
  <h1>Experio</h1>
<p>Amazing experiences for your team ✨</p>
</div>

<div class="cards">
  <div>
    <% @experiences.each do |experience| %>
      <%= link_to experience_path(experience) do  %>
        <div class="card-trip card-category">
          <img src="https://source.unsplash.com/random">
        </div>
        <div class="card-trip-infos">
          <p><%= experience.title %><p>
          <h2 class="card-trip-pricing">Only from €99.99 / person</h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
