.info-card {
  padding: 10px 30px;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,.15);
  margin-bottom: 20px;
  background-color: white;
  color: $dark-gray;
  border-radius: 5px;
  h1 {
   margin-top : 5px;
   margin-bottom: 10px;
   color: $blue;
  }
}

.info-card hr {
  color: $dark-gray;
  border-top: 1px solid $gray;
}

.info-card i {
  color: $red;
}

.description {
  color: $dark-gray;
  border-radius: 5px;
  h2 {
    color: $blue;
  }
}

.description-content {
  border-radius: 5px;
}

.col-lg-8 {
  margin-top: -120px;
}

.col-lg-4 {
  margin-top: -120px;
}

.form-title {
  background-color: $blue;
  padding: 15px;
  height: 120px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;

}

.form-body {
  background-color: white;
  padding: 30px;
}

.infos {
  display: block;
}

.flex {
  display: flex;
}

.experience-infos {
 justify-content: space-between;
 text-align: center;
 padding: 5px 20px;
}

.experience-reviews p {
 margin-left: 10px;
 margin-bottom: 5px;
}
