.booking-menu-wrapper {
  margin-top: 0px;
  
}

.tabs {
  height: 70px;
  justify-content: center;
  display: flex;
  border-radius: 10px 10px 0 0;
  margin-top: 20px;
  margin-bottom: 0px;
}

.tabs ul {
  margin-bottom: 0px;
  height: 0px;

}

.tabs  li {
  color: $blue;
  font-size: 26px;
  padding: 20px 40px;
  cursor: pointer;
  background-color: $light-gray;
  margin-bottom: 0px;
  border-style: solid;
  border-color: $gray;
  border-width: 1px;
  border-radius: 10px 10px 0 0;
}

.tabs  li.active {
  color: $blue;
  font-size: 26px;
  padding: 20px 40px;
  cursor: pointer;
  background-color: white;
}